## 1D cnn classification based on time course of ROI in brain atlases_ UKBB

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

from nilearn import datasets
from nilearn.input_data import NiftiLabelsMasker, NiftiMapsMasker
from nilearn import plotting
from nilearn import image
from nilearn.connectome import ConnectivityMeasure

import nibabel as nib

import warnings

/data/zmohaghegh/venv/lib64/python3.6/site-packages/nilearn/datasets/__init__.py:90: FutureWarning: Fetchers from the nilearn.datasets module will be updated in version 0.9 to return python strings instead of bytes and Pandas dataframes instead of Numpy arrays.
  "Numpy arrays.", FutureWarning)

In [2]:
x=datasets.fetch_atlas_craddock_2012()
img = nib.load('/data/zmohaghegh/nilearn_data/craddock_2012/scorr05_2level_all.nii.gz')
imgdata = img.get_fdata()
imgdata[30,30,34,:]
len(np.unique(imgdata[:,:,:,2]))

31

## get subject info

In [13]:
MDD_UKBB = pd.read_csv('UKBB_2020_MDD_ids.csv')
MDD_UKBB['f.eid'] =MDD_UKBB ['eid']
MDD_UKBB

         eid  mdd    f.eid
0    1003504    1  1003504
1    1003559    1  1003559
2    1015037    1  1015037
3    1034601    1  1034601
4    1054208    1  1054208
..       ...  ...      ...
630  5979530    1  5979530
631  5997732    1  5997732
632  6012549    1  6012549
633  6017679    1  6017679
634  6020226    1  6020226

[635 rows x 3 columns]

In [14]:
Control_UKBB= pd.read_csv('control_ids.csv')
Control_UKBB

       f.eid  mdd
0    2224731    0
1    2890106    0
2    2890106    0
3    1699840    0
4    5481734    0
..       ...  ...
625  5694545    0
626  2730866    0
627  5895433    0
628  5636535    0
629  2915023    0

[630 rows x 2 columns]

## merging subjects info fro MDD and Control

In [16]:
UKBB_merged_subjects = pd.concat([Control_UKBB,MDD_UKBB])
UKBB_merged_subjects

       f.eid  mdd        eid
0    2224731    0        NaN
1    2890106    0        NaN
2    2890106    0        NaN
3    1699840    0        NaN
4    5481734    0        NaN
..       ...  ...        ...
630  5979530    1  5979530.0
631  5997732    1  5997732.0
632  6012549    1  6012549.0
633  6017679    1  6017679.0
634  6020226    1  6020226.0

[1265 rows x 3 columns]

In [18]:
# cahnge data_column name = 'SITE_ID':str, 'SUB_ID':int, 'DX_GROUP':int, 'AGE_AT_SCAN':float, 'SEX':str

UKBB_merged_subjects['SUB_ID'] =UKBB_merged_subjects['f.eid']
UKBB_merged_subjects['DX_GROUP'] =UKBB_merged_subjects['mdd']
UKBB_merged_subjects

       f.eid  mdd        eid   SUB_ID  DX_GROUP
0    2224731    0        NaN  2224731         0
1    2890106    0        NaN  2890106         0
2    2890106    0        NaN  2890106         0
3    1699840    0        NaN  1699840         0
4    5481734    0        NaN  5481734         0
..       ...  ...        ...      ...       ...
630  5979530    1  5979530.0  5979530         1
631  5997732    1  5997732.0  5997732         1
632  6012549    1  6012549.0  6012549         1
633  6017679    1  6017679.0  6017679         1
634  6020226    1  6020226.0  6020226         1

[1265 rows x 5 columns]

In [20]:
UKBB_merged_subjects.to_csv('UKBB_merged_subjects_info.csv', index=False)

In [21]:
UKBB_merged_subjects

       f.eid  mdd        eid   SUB_ID  DX_GROUP
0    2224731    0        NaN  2224731         0
1    2890106    0        NaN  2890106         0
2    2890106    0        NaN  2890106         0
3    1699840    0        NaN  1699840         0
4    5481734    0        NaN  5481734         0
..       ...  ...        ...      ...       ...
630  5979530    1  5979530.0  5979530         1
631  5997732    1  5997732.0  5997732         1
632  6012549    1  6012549.0  6012549         1
633  6017679    1  6017679.0  6017679         1
634  6020226    1  6020226.0  6020226         1

[1265 rows x 5 columns]

## Reading subject info after merging

In [109]:
subject_list_info = pd.read_csv('UKBB_merged_subjects_info.csv')

In [110]:
subject_list_info

        f.eid  mdd        eid   SUB_ID  DX_GROUP
0     2224731    0        NaN  2224731         0
1     2890106    0        NaN  2890106         0
2     2890106    0        NaN  2890106         0
3     1699840    0        NaN  1699840         0
4     5481734    0        NaN  5481734         0
...       ...  ...        ...      ...       ...
1260  5979530    1  5979530.0  5979530         1
1261  5997732    1  5997732.0  5997732         1
1262  6012549    1  6012549.0  6012549         1
1263  6017679    1  6017679.0  6017679         1
1264  6020226    1  6020226.0  6020226         1

[1265 rows x 5 columns]

In [114]:
list_ids=[]
for ids in subject_list_info['SUB_ID']:
    list_ids.append(f'sub_{ids}')
print(len(list_ids))
subject_list_info['SUB_ID']=list_ids

1265

In [107]:
len(subject_list_info['SUB_ID'])

1265

In [115]:
subject_list_info

        f.eid  mdd        eid       SUB_ID  DX_GROUP
0     2224731    0        NaN  sub_2224731         0
1     2890106    0        NaN  sub_2890106         0
2     2890106    0        NaN  sub_2890106         0
3     1699840    0        NaN  sub_1699840         0
4     5481734    0        NaN  sub_5481734         0
...       ...  ...        ...          ...       ...
1260  5979530    1  5979530.0  sub_5979530         1
1261  5997732    1  5997732.0  sub_5997732         1
1262  6012549    1  6012549.0  sub_6012549         1
1263  6017679    1  6017679.0  sub_6017679         1
1264  6020226    1  6020226.0  sub_6020226         1

[1265 rows x 5 columns]

In [116]:
subject_list_info.to_csv('UKBB_merged_subjects_info.csv', index=False)

## Read all subject info

In [11]:
subject_list_info = pd.read_csv('UKBB_merged_subjects_info.csv')
subject_list_info

        f.eid  mdd        eid       SUB_ID  DX_GROUP
0     2224731    0        NaN  sub_2224731         0
1     2890106    0        NaN  sub_2890106         0
2     2890106    0        NaN  sub_2890106         0
3     1699840    0        NaN  sub_1699840         0
4     5481734    0        NaN  sub_5481734         0
...       ...  ...        ...          ...       ...
1260  5979530    1  5979530.0  sub_5979530         1
1261  5997732    1  5997732.0  sub_5997732         1
1262  6012549    1  6012549.0  sub_6012549         1
1263  6017679    1  6017679.0  sub_6017679         1
1264  6020226    1  6020226.0  sub_6020226         1

[1265 rows x 5 columns]

In [87]:
available_not= [0,1,2]
rsfmri_bptf_file_list=listofzeros = [0] * 1262
subject_available=subject_list_info.drop(available_not,axis=0)# ['eid']= rsfmri_bptf_file_list
subject_available

        f.eid  mdd        eid   SUB_ID  DX_GROUP
3     1699840    0        NaN  1699840         0
4     5481734    0        NaN  5481734         0
5     3506278    0        NaN  3506278         0
6     3898616    0        NaN  3898616         0
7     5166727    0        NaN  5166727         0
...       ...  ...        ...      ...       ...
1260  5979530    1  5979530.0  5979530         1
1261  5997732    1  5997732.0  5997732         1
1262  6012549    1  6012549.0  6012549         1
1263  6017679    1  6017679.0  6017679         1
1264  6020226    1  6020226.0  6020226         1

[1262 rows x 5 columns]

### Create a csv file (Pandas Dataframe) for further machine learning

In [35]:
def create_ml_csv(input_root_dir='/dbstore/zmohaghegh/UKBiobank_subset/New_preprocessed/MDD_Control_2020/',
                  output_root_dir='/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/',
                 time_course_dir = 'tc'):

    subject_list_info = pd.read_csv('UKBB_merged_subjects_info.csv')
    
    # data_column = 'SITE_ID':str, 'SUB_ID':int, 'DX_GROUP':int, 'AGE_AT_SCAN':float, 'SEX':str
    
    # input list
    
    available_not=[]
    rsfmri_bptf_file_list = []
    
    # output list
    tc_file_list = []    # time course filenames
    ccvec_file_list = [] # correlation matrix filenames
    ccmat_file_list = [] # correlation matrix filenames 

    for i,sub_id in enumerate(subject_list_info['f.eid']):
        
        if os.path.exists(f'/dbstore/zmohaghegh/UKBiobank_subset/New_preprocessed/MDD_Control_2020/{sub_id}_20227_2_0/subject_preprocessed.nii.gz'):
            rsfmri_bptf_file = os.path.join(input_root_dir, f'{sub_id}_20227_2_0','subject_preprocessed.nii.gz')         
            rsfmri_bptf_file_list.append(rsfmri_bptf_file)

            #outputs ATLAS-> generic name that is a placeholder
            tc_file_list.append(os.path.join(output_root_dir,f'sub_{sub_id}',time_course_dir,'ATLAS/timecourse.csv'))
            ccvec_file_list.append(os.path.join(output_root_dir, f'sub_{sub_id}',time_course_dir,'ATLAS/corr_vec.npy'))
            ccmat_file_list.append(os.path.join(output_root_dir,f'sub_{sub_id}',time_course_dir,'ATLAS/corr_mat.npy'))
        else:
            available_not.append(i)
            
    # drop out not available subject from data frame        
    subject_available_info = subject_list_info.drop(available_not,axis=0)
    print(f'total number of available subjects= {len(subject_available_info)}')
    
    subject_available_info['RSFMRI_bptf_file'] = rsfmri_bptf_file_list
    subject_available_info['tc_file'] = tc_file_list
    subject_available_info['corrvec_file'] = ccvec_file_list
    subject_available_info['corrmat_file'] = ccmat_file_list
    
    return subject_available_info

### Choose one of the atlases

In [28]:
def select_atlas(atlas_name, atlas_dir='/data/zmohaghegh/nilearn_data/'): 

    # Choose one of the atlases (add more when necessary)
    # 1. AAL
    # 2. HO_cort_maxprob_thr25-2mm


    # Check if valid atlas name
    if atlas_name not in ['AAL', 'HO_cort_maxprob_thr25-2mm', 'schaefer_100', 'schaefer_400',
                         'JAMA_IC19', 'JAMA_IC52', 'JAMA_IC7']:
        raise ValueError('atlas_name not found')

    if atlas_name == 'AAL':
        dataset = datasets.fetch_atlas_aal(version='SPM12')
        atlas_filename = dataset.maps
        labels = dataset.labels
        
    if atlas_name == 'HO_cort_maxprob_thr25-2mm':
        dataset = datasets.fetch_atlas_harvard_oxford('cort-maxprob-thr25-2mm')
        atlas_filename = dataset.maps
        labels = dataset.labels[1:] # the first element is background
        
    if atlas_name == 'schaefer_100':
        atlas_filename = os.path.join(atlas_dir,'schaefer/Schaefer2018_100Parcels_17Networks_order_FSLMNI152_2mm.nii')
        labels = pd.read_csv(os.path.join(atlas_dir, 
                                           'schaefer/Schaefer2018_100Parcels_17Networks_table.csv'))['label']
    if atlas_name == 'schaefer_400':
        atlas_filename = os.path.join(atlas_dir, 
                                       'schaefer/Schaefer2018_400Parcels_17Networks_order_FSLMNI152_2mm.nii')
        labels = pd.read_csv(os.path.join(atlas_dir, 
                                           'schaefer/Schaefer2018_400Parcels_17Networks_table.csv'))['label']
        
    if atlas_name == 'JAMA_IC19':
        atlas_filename = os.path.join(atlas_dir, 'IC_JAMA/IC19.nii')
        labels =[f'JAMA_IC19_{i+1}' for i in range(19)]
    
    if atlas_name == 'JAMA_IC52':
        atlas_filename = os.path.join(atlas_dir, 'IC_JAMA/IC52.nii')
        labels =[f'JAMA_IC52_{i+1}' for i in range(52)]
        
    if atlas_name == 'JAMA_IC7':
        atlas_filename = os.path.join(atlas_dir, 'IC_JAMA/IC7.nii')
        labels =[f'JAMA_IC7_{i+1}' for i in range(7)]
        
    return  atlas_filename, labels, len(labels)
    
    #plotting.plot_roi(atlas_filename)

### Masking

In [29]:
def label_masker(atlas_filename):
    masker = NiftiLabelsMasker(labels_img=atlas_filename, standardize=True)     
    return masker

### Extract time course

In [30]:
def extract_tc_corr(atlas_names,
                    output_root_dir='/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/',
                   time_course_dir = 'tc'):

    df_data_info= create_ml_csv()
    #print(len(df_data_info))
    
    # Write the generic input and output csv files
    
    df_data_info.to_csv(os.path.join(output_root_dir, 'data_info.csv'), index=False)

    connectivity_measure = ConnectivityMeasure(kind='correlation')
    
    nsubjects = len(df_data_info)
    
    print_counter = 0
    
    for i,sub_i in enumerate(df_data_info.index): #sub_i in df_data_info.index
        #print(sub_i)
        
        if print_counter%100 == 0:
            print(f'{i}/{nsubjects}')

        for atlas_name in atlas_names:
            
            atlas_filename, labels, nrois = select_atlas(atlas_name)
            
            if atlas_name in ['JAMA_IC19', 'JAMA_IC52', 'JAMA_IC7']:
                masker = NiftiMapsMasker(atlas_filename,  standardize=True, memory='nilearn_cache')
                
            else:
                masker = label_masker(atlas_filename)

            atlas_bptf_conf_name = os.path.join(atlas_name)
            timecourse = masker.fit_transform(imgs=df_data_info['RSFMRI_bptf_file'].loc[sub_i])  
    
            cc = connectivity_measure.fit_transform([timecourse])[0]

            tc_dir = os.path.join(output_root_dir, df_data_info['SUB_ID'].loc[sub_i],
                                  time_course_dir, atlas_bptf_conf_name)
            
            if not os.path.exists(tc_dir):
                os.makedirs(tc_dir)

            # Write timeseries as csv file
            tc_file = df_data_info['tc_file'].loc[sub_i].replace('ATLAS/', atlas_bptf_conf_name)
            pd.DataFrame(data=timecourse, columns=labels).to_csv(tc_file, index=False)

            # Write correlation matrix
            corrvec_file = df_data_info['corrvec_file'].loc[sub_i].replace('ATLAS/', atlas_bptf_conf_name)
            corrmat_file = df_data_info['corrmat_file'].loc[sub_i].replace('ATLAS/', atlas_bptf_conf_name)
            cc_triu_ids = np.triu_indices(nrois)
            
            np.save(corrvec_file, cc[cc_triu_ids]) # get only upper triangular
            np.save(corrmat_file, cc)
            
        print_counter += 1

    return None

In [42]:
df_data_info= create_ml_csv()
df_data_info

number of subject=818

,f.eid,mdd,eid,SUB_ID,DX_GROUP,RSFMRI_bptf_file,tc_file,corrvec_file,corrmat_file
1,2890106,0,NaN,sub_2890106,0,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
2,2890106,0,NaN,sub_2890106,0,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
3,1699840,0,NaN,sub_1699840,0,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
5,3506278,0,NaN,sub_3506278,0,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
7,5166727,0,NaN,sub_5166727,0,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
...,...,...,...,...,...,...,...,...,...
1257,5969480,1,5969480.0,sub_5969480,1,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
1258,5971173,1,5971173.0,sub_5971173,1,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
1259,5977819,1,5977819.0,sub_5977819,1,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
1260,5979530,1,5979530.0,sub_5979530,1,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...
1264,6020226,1,6020226.0,sub_6020226,1,/dbstore/zmohaghegh/UKBiobank_subset/New_prepr...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...,/dbstore/zmohaghegh/UKBiobank_subset/Time_cour...

### Running Extractio of time course

In [36]:
atlas_names=['AAL', 'HO_cort_maxprob_thr25-2mm'] # 'schaefer_100', 'schaefer_400'

In [37]:
extract_tc_corr(atlas_names)

number of subject=818
818
1/818
158/818
290/818
433/818
604/818
761/818
914/818
1074/818
1236/818

In [39]:
import shutil

for file in os.listdir('/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/'):
    print(file)
    shutil.move(f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/AALtimecourse.csv', 
                f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/AAL/timecourse.csv')
    shutil.move(f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/AALcorr_mat.npy', 
                f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/AAL/corr_mat.npy')
    shutil.move(f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/AALcorr_vec.npy', 
                f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/AAL/corr_vec.npy')

sub_2890106
sub_1699840
sub_3506278
sub_5166727
sub_2385770
sub_3686904
sub_1343733
sub_3210483
sub_5405306
sub_4424127
sub_5237704
sub_3795465
sub_5515158
sub_1261334
sub_1119288
sub_4583789
sub_3852329
sub_3398650
sub_4616229
sub_5260559
sub_3881427
sub_2818054
sub_5065521
sub_4483688
sub_1856492
sub_4418666
sub_2577430
sub_5228667
sub_1506586
sub_1190429
sub_4497866
sub_3216289
sub_4711331
sub_5575539
sub_4904501
sub_2817815
sub_5037979
sub_1793935
sub_3506600
sub_3248642
sub_5748826
sub_3339838
sub_2233347
sub_3049661
sub_1117296
sub_4655739
sub_4581302
sub_1866080
sub_4027737
sub_2205549
sub_2099413
sub_5200537
sub_1372955
sub_2957890
sub_1627544
sub_5506100
sub_1698918
sub_3165520
sub_5550357
sub_2740061
sub_1099649
sub_2592764
sub_4280370
sub_1051042
sub_2475689
sub_4458765
sub_2297860
sub_4175006
sub_1374303
sub_5188778
sub_2339635
sub_4020928
sub_2505998
sub_3512260
sub_2892204
sub_5797137
sub_5089573
sub_3672549
sub_3463734
sub_2685701
sub_5101024
sub_5963913
sub_1852761
sub_1285066
sub_4047811
sub_4010906
sub_2042757
sub_1125187
sub_4320327
sub_4558927
sub_3136615
sub_3907603
sub_3534538
sub_3336580
sub_1586322
sub_5303635
sub_2961058
sub_4338862
sub_3747272
sub_3556494
sub_3289874
sub_5160918
sub_2260041
sub_5243813
sub_5594414
sub_1357574
sub_2227531
sub_5757720
sub_5702585
sub_3472447
sub_1687556
sub_1066948
sub_5360970
sub_5815358
sub_3155184
sub_5629553
sub_5782702
sub_1615857
sub_5023848
sub_1761588
sub_5470196
sub_2289464
sub_3902583
sub_4649577
sub_2614259
sub_1054328
sub_2559233
sub_3064989
sub_4143976
sub_3885374
sub_2076244
sub_4755659
sub_5807201
sub_1159731
sub_2289382
sub_3020739
sub_3546577
sub_3749592
sub_3849346
sub_2928855
sub_1055152
sub_1178178
sub_2442101
sub_5706848
sub_4369839
sub_3796514
sub_1082038
sub_5108336
sub_2317344
sub_5014151
sub_3927229
sub_2071670
sub_3451906
sub_2546931
sub_2275563
sub_3230069
sub_3045608
sub_1114817
sub_5462889
sub_1354245
sub_1510452
sub_2497901
sub_4037154
sub_2287529
sub_3123179
sub_3130290
sub_3984106
sub_1110718
sub_2603515
sub_4611876
sub_5719434
sub_3670180
sub_1659106
sub_5182408
sub_2265897
sub_1071169
sub_5727164
sub_2473886
sub_4865192
sub_1903899
sub_5449372
sub_2482719
sub_5634313
sub_4459394
sub_5865204
sub_5107022
sub_1141815
sub_1374119
sub_2117757
sub_4091461
sub_1402202
sub_2076013
sub_3509111
sub_3892671
sub_3746743
sub_4271547
sub_4954608
sub_4065958
sub_3828332
sub_2489008
sub_1904896
sub_1778254
sub_6012137
sub_5325551
sub_1286597
sub_6020846
sub_5844934
sub_3960553
sub_4857487
sub_3842072
sub_1129010
sub_4250677
sub_2725072
sub_4420410
sub_1356072
sub_3448344
sub_1298779
sub_4744461
sub_3226873
sub_5759792
sub_4865518
sub_3677397
sub_2582460
sub_3594526
sub_5535790
sub_3395204
sub_1853241
sub_4547273
sub_1355182
sub_1458057
sub_3966804
sub_5660356
sub_1758542
sub_4650412
sub_5175046
sub_3469775
sub_5131548
sub_4479946
sub_1650150
sub_1282154
sub_1277388
sub_3179457
sub_3484813
sub_1527912
sub_2642938
sub_1644417
sub_5545862
sub_5168731
sub_2575795
sub_1135997
sub_1148238
sub_6020080
sub_5217386
sub_5646683
sub_5198790
sub_3179601
sub_2400931
sub_5651739
sub_2085931
sub_3655511
sub_3634912
sub_2282092
sub_3543483
sub_4653502
sub_1278015
sub_2590457
sub_4880188
sub_3406397
sub_1038459
sub_4654144
sub_2115635
sub_1760540
sub_4111948
sub_3168091
sub_3875536
sub_4263400
sub_5203854
sub_4685710
sub_5732190
sub_1584993
sub_2763327
sub_3260694
sub_1583133
sub_4928482
sub_1202732
sub_5372803
sub_5513964
sub_3785024
sub_3579394
sub_3193930
sub_1055284
sub_5153331
sub_3280287
sub_2228524
sub_3973935
sub_4951331
sub_5556773
sub_3319086
sub_5914678
sub_5256633
sub_3141292
sub_2225031
sub_5388819
sub_2723160
sub_3294637
sub_1563410
sub_2753584
sub_4704837
sub_1120609
sub_5375395
sub_5880501
sub_4611966
sub_5626671
sub_1652456
sub_1149718
sub_2484799
sub_3605524
sub_3043973
sub_5549327
sub_5598923
sub_5298365
sub_4692320
sub_4102011
sub_4762193
sub_4181722
sub_1224336
sub_3538898
sub_1654050
sub_5559582
sub_3651267
sub_2476817
sub_5263530
sub_3140723
sub_4097919
sub_2993659
sub_1441626
sub_2349910
sub_3964490
sub_5347845
sub_4689602
sub_3256395
sub_1949371
sub_5837027
sub_2407617
sub_3549925
sub_1206908
sub_1196436
sub_4985377
sub_3267051
sub_3996822
sub_5962093
sub_3392029
sub_1294901
sub_3327582
sub_1113895
sub_2086844
sub_1558809
sub_1082219
sub_3481271
sub_4286313
sub_2702303
sub_3944239
sub_5111557
sub_3938610
sub_1649950
sub_4918604
sub_1270986
sub_4550805
sub_3368951
sub_3245459
sub_2925440
sub_1410920
sub_3828650
sub_4749838
sub_4240268
sub_5115088
sub_1720487
sub_2285455
sub_5786831
sub_4852198
sub_2528857
sub_5630000
sub_3970223
sub_2014974
sub_2277530
sub_1632701
sub_1337316
sub_2652616
sub_3226085
sub_4018417
sub_3646411
sub_5033318
sub_1124560
sub_3983480
sub_4084451
sub_1372896
sub_3005924
sub_2918253
sub_4240169
sub_3023804
sub_2141006
sub_1779491
sub_5694545
sub_2730866
sub_5636535
sub_2915023
sub_1003504
sub_1003559
sub_1015037
sub_1034601
sub_1054208
sub_1057213
sub_1060236
sub_1079833
sub_1081948
sub_1087649
sub_1105826
sub_1107208
sub_1149509
sub_1156255
sub_1160831
sub_1163942
sub_1165414
sub_1167326
sub_1207426
sub_1217199
sub_1237293
sub_1266457
sub_1271195
sub_1323127
sub_1328552
sub_1344927
sub_1362755
sub_1365734
sub_1368635
sub_1400143
sub_1420037
sub_1430410
sub_1433169
sub_1448695
sub_1449291
sub_1449985
sub_1470932
sub_1480702
sub_1510189
sub_1516921
sub_1542861
sub_1552709
sub_1571515
sub_1573676
sub_1586474
sub_1606821
sub_1618639
sub_1647828
sub_1649427
sub_1653157
sub_1676141
sub_1676234
sub_1683374
sub_1697119
sub_1706684
sub_1716107
sub_1728592
sub_1734254
sub_1750182
sub_1772506
sub_1789268
sub_1789480
sub_1797050
sub_1819895
sub_1838227
sub_1855541
sub_1863265
sub_1876181
sub_1894296
sub_1912873
sub_1913179
sub_1919468
sub_1945706
sub_1948936
sub_1954155
sub_1972809
sub_1982930
sub_1992622
sub_2007962
sub_2011564
sub_2032131
sub_2070524
sub_2072875
sub_2077685
sub_2082635
sub_2090160
sub_2116691
sub_2128924
sub_2131200
sub_2133506
sub_2133836
sub_2139123
sub_2160946
sub_2178662
sub_2190669
sub_2190676
sub_2206232
sub_2208887
sub_2227316
sub_2230565
sub_2231761
sub_2265290
sub_2292812
sub_2307668
sub_2314423
sub_2316660
sub_2323521
sub_2335369
sub_2343397
sub_2344845
sub_2365722
sub_2369136
sub_2375458
sub_2387488
sub_2393881
sub_2407880
sub_2412718
sub_2415481
sub_2421730
sub_2421815
sub_2425893
sub_2431692
sub_2449998
sub_2452004
sub_2470183
sub_2473747
sub_2480759
sub_2508512
sub_2508995
sub_2509615
sub_2527769
sub_2537789
sub_2553474
sub_2556091
sub_2559336
sub_2560480
sub_2578004
sub_2579275
sub_2599828
sub_2607826
sub_2634530
sub_2649371
sub_2658990
sub_2689424
sub_2693567
sub_2698120
sub_2721785
sub_2740149
sub_2748191
sub_2766847
sub_2772790
sub_2776213
sub_2795382
sub_2847338
sub_2852412
sub_2859338
sub_2867113
sub_2876739
sub_2886723
sub_2902605
sub_2934010
sub_2963072
sub_2978661
sub_3010912
sub_3030292
sub_3038003
sub_3059783
sub_3062696
sub_3065999
sub_3079270
sub_3085822
sub_3089795
sub_3091896
sub_3095728
sub_3100181
sub_3111338
sub_3119694
sub_3138976
sub_3151684
sub_3152482
sub_3164968
sub_3165803
sub_3165876
sub_3177835
sub_3183340
sub_3184884
sub_3198983
sub_3206959
sub_3215644
sub_3236367
sub_3238686
sub_3240029
sub_3257762
sub_3263156
sub_3267380
sub_3273102
sub_3273609
sub_3275784
sub_3282741
sub_3302529
sub_3319602
sub_3346150
sub_3361062
sub_3362566
sub_3367393
sub_3375983
sub_3381468
sub_3384948
sub_3384993
sub_3388765
sub_3403781
sub_3410186
sub_3419114
sub_3423095
sub_3428564
sub_3452490
sub_3495607
sub_3505642
sub_3507665
sub_3509372
sub_3530584
sub_3534247
sub_3537168
sub_3538720
sub_3546628
sub_3564710
sub_3580147
sub_3590130
sub_3598631
sub_3604181
sub_3625832
sub_3639511
sub_3672622
sub_3706174
sub_3725496
sub_3726722
sub_3730558
sub_3744686
sub_3756356
sub_3768295
sub_3784232
sub_3786293
sub_3796646
sub_3800230
sub_3822215
sub_3824241
sub_3827793
sub_3847409
sub_3854245
sub_3860757
sub_3873703
sub_3877940
sub_3880568
sub_3892014
sub_3904743
sub_3918432
sub_3921942
sub_3938108
sub_3957364
sub_3988116
sub_3988725
sub_4016023
sub_4020285
sub_4041514
sub_4058561
sub_4115272
sub_4130331
sub_4134980
sub_4137908
sub_4173822
sub_4192546
sub_4195788
sub_4216658
sub_4235172
sub_4251821
sub_4323758
sub_4331646
sub_4333201
sub_4349094

sub_4352219
sub_4357535
sub_4362680
sub_4394444
sub_4399626
sub_4404436
sub_4438596
sub_4442378
sub_4451675
sub_4484371
sub_4487230
sub_4518055
sub_4526895
sub_4527897
sub_4529423
sub_4556036
sub_4564994
sub_4567733
sub_4567759
sub_4576247
sub_4584432
sub_4584879
sub_4585027
sub_4611810
sub_4611852
sub_4612723
sub_4625238
sub_4626289
sub_4641584
sub_4643848
sub_4647465
sub_4648981
sub_4651835
sub_4661801
sub_4672867
sub_4681094
sub_4693741
sub_4723273
sub_4729554
sub_4761760
sub_4770271
sub_4785929
sub_4795791
sub_4802825
sub_4805131
sub_4808863
sub_4827195
sub_4844441
sub_4853612
sub_4854899
sub_4857193
sub_4875866
sub_4904831
sub_4906319
sub_4910592
sub_4916197
sub_4919104
sub_4921548
sub_4967185
sub_4969835
sub_5008876
sub_5010065
sub_5011478
sub_5014585
sub_5077228
sub_5092190
sub_5117007
sub_5123303
sub_5130208
sub_5172700
sub_5174797
sub_5178366
sub_5199356
sub_5215202
sub_5215721
sub_5227706
sub_5258214
sub_5274624
sub_5283773
sub_5290220
sub_5345237
sub_5396473
sub_5416588
sub_5432161
sub_5455063
sub_5459181
sub_5462026
sub_5476779
sub_5485265
sub_5490872
sub_5491634
sub_5499368
sub_5540957
sub_5546651
sub_5560791
sub_5596263
sub_5597410
sub_5610764
sub_5652003
sub_5666414
sub_5670920
sub_5674455
sub_5712252
sub_5742693
sub_5775199
sub_5785712
sub_5793634
sub_5803674
sub_5808403
sub_5832570
sub_5899251
sub_5913049
sub_5921182
sub_5926808
sub_5942494
sub_5947124
sub_5953831
sub_5969480
sub_5971173
sub_5977819
sub_5979530
sub_6020226

In [40]:
for file in os.listdir('/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/'):
    if os.path.exists(f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/HO_cort_maxprob_thr25-2mmtimecourse.csv'):
        print(file)
        shutil.move(f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/HO_cort_maxprob_thr25-2mmtimecourse.csv', 
                    f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/HO_cort_maxprob_thr25-2mm/timecourse.csv')
        shutil.move(f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/HO_cort_maxprob_thr25-2mmcorr_mat.npy', 
                    f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/HO_cort_maxprob_thr25-2mm/corr_mat.npy')
        shutil.move(f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/HO_cort_maxprob_thr25-2mmcorr_vec.npy', 
                    f'/dbstore/zmohaghegh/UKBiobank_subset/Time_course_New/{file}/tc/HO_cort_maxprob_thr25-2mm/corr_vec.npy')

sub_2890106
sub_1699840
sub_3506278
sub_5166727
sub_2385770
sub_3686904
sub_1343733
sub_3210483
sub_5405306
sub_4424127
sub_5237704
sub_3795465
sub_5515158
sub_1261334
sub_1119288
sub_4583789
sub_3852329
sub_3398650
sub_4616229
sub_5260559
sub_3881427
sub_2818054
sub_5065521
sub_4483688
sub_1856492
sub_4418666
sub_2577430
sub_5228667
sub_1506586
sub_1190429
sub_4497866
sub_3216289
sub_4711331
sub_5575539
sub_4904501
sub_2817815
sub_5037979
sub_1793935
sub_3506600
sub_3248642
sub_5748826
sub_3339838
sub_2233347
sub_3049661
sub_1117296
sub_4655739
sub_4581302
sub_1866080
sub_4027737
sub_2205549
sub_2099413
sub_5200537
sub_1372955
sub_2957890
sub_1627544
sub_5506100
sub_1698918
sub_3165520
sub_5550357
sub_2740061
sub_1099649
sub_2592764
sub_4280370
sub_1051042
sub_2475689
sub_4458765
sub_2297860
sub_4175006
sub_1374303
sub_5188778
sub_2339635
sub_4020928
sub_2505998
sub_3512260
sub_2892204
sub_5797137
sub_5089573
sub_3672549
sub_3463734
sub_2685701
sub_5101024
sub_5963913
sub_1852761
sub_1285066
sub_4047811
sub_4010906
sub_2042757
sub_1125187
sub_4320327
sub_4558927
sub_3136615
sub_3907603
sub_3534538
sub_3336580
sub_1586322
sub_5303635
sub_2961058
sub_4338862
sub_3747272
sub_3556494
sub_3289874
sub_5160918
sub_2260041
sub_5243813
sub_5594414
sub_1357574
sub_2227531
sub_5757720
sub_5702585
sub_3472447
sub_1687556
sub_1066948
sub_5360970
sub_5815358
sub_3155184
sub_5629553
sub_5782702
sub_1615857
sub_5023848
sub_1761588
sub_5470196
sub_2289464
sub_3902583
sub_4649577
sub_2614259
sub_1054328
sub_2559233
sub_3064989
sub_4143976
sub_3885374
sub_2076244
sub_4755659
sub_5807201
sub_1159731
sub_2289382
sub_3020739
sub_3546577
sub_3749592
sub_3849346
sub_2928855
sub_1055152
sub_1178178
sub_2442101
sub_5706848
sub_4369839
sub_3796514
sub_1082038
sub_5108336
sub_2317344
sub_5014151
sub_3927229
sub_2071670
sub_3451906
sub_2546931
sub_2275563
sub_3230069
sub_3045608
sub_1114817
sub_5462889
sub_1354245
sub_1510452
sub_2497901
sub_4037154
sub_2287529
sub_3123179
sub_3130290
sub_3984106
sub_1110718
sub_2603515
sub_4611876
sub_5719434
sub_3670180
sub_1659106
sub_5182408
sub_2265897
sub_1071169
sub_5727164
sub_2473886
sub_4865192
sub_1903899
sub_5449372
sub_2482719
sub_5634313
sub_4459394
sub_5865204
sub_5107022
sub_1141815
sub_1374119
sub_2117757
sub_4091461
sub_1402202
sub_2076013
sub_3509111
sub_3892671
sub_3746743
sub_4271547
sub_4954608
sub_4065958
sub_3828332
sub_2489008
sub_1904896
sub_1778254
sub_6012137
sub_5325551
sub_1286597
sub_6020846
sub_5844934
sub_3960553
sub_4857487
sub_3842072
sub_1129010
sub_4250677
sub_2725072
sub_4420410
sub_1356072
sub_3448344
sub_1298779
sub_4744461
sub_3226873
sub_5759792
sub_4865518
sub_3677397
sub_2582460
sub_3594526
sub_5535790
sub_3395204
sub_1853241
sub_4547273
sub_1355182
sub_1458057
sub_3966804
sub_5660356
sub_1758542
sub_4650412
sub_5175046
sub_3469775
sub_5131548
sub_4479946
sub_1650150
sub_1282154
sub_1277388
sub_3179457
sub_3484813
sub_1527912
sub_2642938
sub_1644417
sub_5545862
sub_5168731
sub_2575795
sub_1135997
sub_1148238
sub_6020080
sub_5217386
sub_5646683
sub_5198790
sub_3179601
sub_2400931
sub_5651739
sub_2085931
sub_3655511
sub_3634912
sub_2282092
sub_3543483
sub_4653502
sub_1278015
sub_2590457
sub_4880188
sub_3406397
sub_1038459
sub_4654144
sub_2115635
sub_1760540
sub_4111948
sub_3168091
sub_3875536
sub_4263400
sub_5203854
sub_4685710
sub_5732190
sub_1584993
sub_2763327
sub_3260694
sub_1583133
sub_4928482
sub_1202732
sub_5372803
sub_5513964
sub_3785024
sub_3579394
sub_3193930
sub_1055284
sub_5153331
sub_3280287
sub_2228524
sub_3973935
sub_4951331
sub_5556773
sub_3319086
sub_5914678
sub_5256633
sub_3141292
sub_2225031
sub_5388819
sub_2723160
sub_3294637
sub_1563410
sub_2753584
sub_4704837
sub_1120609
sub_5375395
sub_5880501
sub_4611966
sub_5626671
sub_1652456
sub_1149718
sub_2484799
sub_3605524
sub_3043973
sub_5549327
sub_5598923
sub_5298365
sub_4692320
sub_4102011
sub_4762193
sub_4181722
sub_1224336
sub_3538898
sub_1654050
sub_5559582
sub_3651267
sub_2476817
sub_5263530
sub_3140723
sub_4097919
sub_2993659
sub_1441626
sub_2349910
sub_3964490
sub_5347845
sub_4689602
sub_3256395
sub_1949371
sub_5837027
sub_2407617
sub_3549925
sub_1206908
sub_1196436
sub_4985377
sub_3267051
sub_3996822
sub_5962093
sub_3392029
sub_1294901
sub_3327582
sub_1113895
sub_2086844
sub_1558809
sub_1082219
sub_3481271
sub_4286313
sub_2702303
sub_3944239
sub_5111557
sub_3938610
sub_1649950
sub_4918604
sub_1270986
sub_4550805
sub_3368951
sub_3245459
sub_2925440
sub_1410920
sub_3828650
sub_4749838
sub_4240268
sub_5115088
sub_1720487
sub_2285455
sub_5786831
sub_4852198
sub_2528857
sub_5630000
sub_3970223
sub_2014974
sub_2277530
sub_1632701
sub_1337316
sub_2652616
sub_3226085
sub_4018417
sub_3646411
sub_5033318
sub_1124560
sub_3983480
sub_4084451
sub_1372896
sub_3005924
sub_2918253
sub_4240169
sub_3023804
sub_2141006
sub_1779491
sub_5694545
sub_2730866
sub_5636535
sub_2915023
sub_1003504
sub_1003559
sub_1015037
sub_1034601
sub_1054208
sub_1057213
sub_1060236
sub_1079833
sub_1081948
sub_1087649
sub_1105826
sub_1107208
sub_1149509
sub_1156255
sub_1160831
sub_1163942
sub_1165414
sub_1167326
sub_1207426
sub_1217199
sub_1237293
sub_1266457
sub_1271195
sub_1323127
sub_1328552
sub_1344927
sub_1362755
sub_1365734
sub_1368635
sub_1400143
sub_1420037
sub_1430410
sub_1433169
sub_1448695
sub_1449291
sub_1449985
sub_1470932
sub_1480702
sub_1510189
sub_1516921
sub_1542861
sub_1552709
sub_1571515
sub_1573676
sub_1586474
sub_1606821
sub_1618639
sub_1647828
sub_1649427
sub_1653157
sub_1676141
sub_1676234
sub_1683374
sub_1697119
sub_1706684
sub_1716107
sub_1728592
sub_1734254
sub_1750182
sub_1772506
sub_1789268
sub_1789480
sub_1797050
sub_1819895
sub_1838227
sub_1855541
sub_1863265
sub_1876181
sub_1894296
sub_1912873
sub_1913179
sub_1919468
sub_1945706
sub_1948936
sub_1954155
sub_1972809
sub_1982930
sub_1992622
sub_2007962
sub_2011564
sub_2032131
sub_2070524
sub_2072875
sub_2077685
sub_2082635
sub_2090160
sub_2116691
sub_2128924
sub_2131200
sub_2133506
sub_2133836
sub_2139123
sub_2160946
sub_2178662
sub_2190669
sub_2190676
sub_2206232
sub_2208887
sub_2227316
sub_2230565
sub_2231761
sub_2265290
sub_2292812
sub_2307668
sub_2314423
sub_2316660
sub_2323521
sub_2335369
sub_2343397
sub_2344845
sub_2365722
sub_2369136
sub_2375458
sub_2387488
sub_2393881
sub_2407880
sub_2412718
sub_2415481
sub_2421730
sub_2421815
sub_2425893
sub_2431692
sub_2449998
sub_2452004
sub_2470183
sub_2473747
sub_2480759
sub_2508512
sub_2508995
sub_2509615
sub_2527769
sub_2537789
sub_2553474
sub_2556091
sub_2559336
sub_2560480
sub_2578004
sub_2579275
sub_2599828
sub_2607826
sub_2634530
sub_2649371
sub_2658990
sub_2689424
sub_2693567
sub_2698120
sub_2721785
sub_2740149
sub_2748191
sub_2766847
sub_2772790
sub_2776213
sub_2795382
sub_2847338
sub_2852412
sub_2859338
sub_2867113
sub_2876739
sub_2886723
sub_2902605
sub_2934010
sub_2963072
sub_2978661
sub_3010912
sub_3030292
sub_3038003
sub_3059783
sub_3062696
sub_3065999
sub_3079270
sub_3085822
sub_3089795
sub_3091896
sub_3095728
sub_3100181
sub_3111338
sub_3119694
sub_3138976
sub_3151684
sub_3152482
sub_3164968
sub_3165803
sub_3165876
sub_3177835
sub_3183340
sub_3184884
sub_3198983
sub_3206959
sub_3215644
sub_3236367
sub_3238686
sub_3240029
sub_3257762
sub_3263156
sub_3267380
sub_3273102
sub_3273609
sub_3275784
sub_3282741
sub_3302529
sub_3319602
sub_3346150
sub_3361062
sub_3362566
sub_3367393
sub_3375983
sub_3381468
sub_3384948
sub_3384993
sub_3388765
sub_3403781
sub_3410186
sub_3419114
sub_3423095
sub_3428564
sub_3452490
sub_3495607
sub_3505642
sub_3507665
sub_3509372
sub_3530584
sub_3534247
sub_3537168
sub_3538720
sub_3546628
sub_3564710
sub_3580147
sub_3590130
sub_3598631
sub_3604181
sub_3625832
sub_3639511
sub_3672622
sub_3706174
sub_3725496
sub_3726722
sub_3730558
sub_3744686
sub_3756356
sub_3768295
sub_3784232
sub_3786293
sub_3796646
sub_3800230
sub_3822215
sub_3824241
sub_3827793
sub_3847409
sub_3854245
sub_3860757
sub_3873703
sub_3877940
sub_3880568
sub_3892014
sub_3904743
sub_3918432
sub_3921942
sub_3938108
sub_3957364
sub_3988116
sub_3988725
sub_4016023
sub_4020285
sub_4041514
sub_4058561
sub_4115272
sub_4130331
sub_4134980
sub_4137908
sub_4173822
sub_4192546
sub_4195788
sub_4216658
sub_4235172
sub_4251821
sub_4323758
sub_4331646
sub_4333201

sub_4349094
sub_4352219
sub_4357535
sub_4362680
sub_4394444
sub_4399626
sub_4404436
sub_4438596
sub_4442378
sub_4451675
sub_4484371
sub_4487230
sub_4518055
sub_4526895
sub_4527897
sub_4529423
sub_4556036
sub_4564994
sub_4567733
sub_4567759
sub_4576247
sub_4584432
sub_4584879
sub_4585027
sub_4611810
sub_4611852
sub_4612723
sub_4625238
sub_4626289
sub_4641584
sub_4643848
sub_4647465
sub_4648981
sub_4651835
sub_4661801
sub_4672867
sub_4681094
sub_4693741
sub_4723273
sub_4729554
sub_4761760
sub_4770271
sub_4785929
sub_4795791
sub_4802825
sub_4805131
sub_4808863
sub_4827195
sub_4844441
sub_4853612
sub_4854899
sub_4857193
sub_4875866
sub_4904831
sub_4906319
sub_4910592
sub_4916197
sub_4919104
sub_4921548
sub_4967185
sub_4969835
sub_5008876
sub_5010065
sub_5011478
sub_5014585
sub_5077228
sub_5092190
sub_5117007
sub_5123303
sub_5130208
sub_5172700
sub_5174797
sub_5178366
sub_5199356
sub_5215202
sub_5215721
sub_5227706
sub_5258214
sub_5274624
sub_5283773
sub_5290220
sub_5345237
sub_5396473
sub_5416588
sub_5432161
sub_5455063
sub_5459181
sub_5462026
sub_5476779
sub_5485265
sub_5490872
sub_5491634
sub_5499368
sub_5540957
sub_5546651
sub_5560791
sub_5596263
sub_5597410
sub_5610764
sub_5652003
sub_5666414
sub_5670920
sub_5674455
sub_5712252
sub_5742693
sub_5775199
sub_5785712
sub_5793634
sub_5803674
sub_5808403
sub_5832570
sub_5899251
sub_5913049
sub_5921182
sub_5926808
sub_5942494
sub_5947124
sub_5953831
sub_5969480
sub_5971173
sub_5977819
sub_5979530
sub_6020226

## Data Exploration

In [2]:
time_course_sub = pd.read_csv('/dbstore/zmohaghegh/UKBiobank_subset/Time_course/sub_1119288/tc/AAL/timecourse.csv')
time_course_sub

,Precentral_L,Precentral_R,Frontal_Sup_L,Frontal_Sup_R,Frontal_Sup_Orb_L,Frontal_Sup_Orb_R,Frontal_Mid_L,Frontal_Mid_R,Frontal_Mid_Orb_L,Frontal_Mid_Orb_R,...,Cerebelum_10_L,Cerebelum_10_R,Vermis_1_2,Vermis_3,Vermis_4_5,Vermis_6,Vermis_7,Vermis_8,Vermis_9,Vermis_10
0,1.318614,3.012848,1.186333,1.316328,-0.944385,-0.005034,-0.374944,0.758948,0.262717,1.118455,...,0.071786,0.309743,-3.922010,-0.464389,2.399318,0.859113,0.075110,-0.881551,-0.286059,0.291017
1,1.180839,2.742517,0.993617,1.203716,-0.966537,0.032453,-0.428017,0.709821,0.124409,0.985181,...,0.058707,0.264676,-3.763458,-0.469316,2.155850,0.686347,-0.012943,-0.873044,-0.281345,0.159053
2,1.046849,2.473924,0.806597,1.095817,-0.984647,0.068958,-0.476338,0.665233,-0.013463,0.851058,...,0.048706,0.228036,-3.588039,-0.460448,1.920995,0.517552,-0.087208,-0.852841,-0.274745,0.030066
3,0.918092,2.213285,0.630703,0.992414,-0.993217,0.104154,-0.516718,0.623345,-0.148608,0.719579,...,0.045629,0.197624,-3.409246,-0.441726,1.692231,0.361864,-0.160220,-0.834232,-0.264373,-0.090983
4,0.797741,1.963067,0.464212,0.893240,-0.999038,0.129527,-0.550325,0.585767,-0.279390,0.590556,...,0.046014,0.184800,-3.220332,-0.409210,1.475652,0.214317,-0.222265,-0.800736,-0.247715,-0.196158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,-0.355087,-0.455689,0.991361,0.556346,0.475777,-0.731210,1.060028,0.474695,-0.014445,-0.170169,...,1.184208,0.723409,0.981300,0.042080,0.664372,0.945099,0.797396,-0.687488,0.415440,2.360765
519,-0.332570,-0.498656,0.984060,0.544430,0.445701,-0.761331,1.091318,0.489400,0.011842,-0.191232,...,1.227674,0.722310,0.994794,0.079523,0.688950,0.986603,0.862260,-0.696527,0.428641,2.357789
520,-0.315091,-0.545829,0.968844,0.529323,0.414818,-0.790960,1.113656,0.497632,0.035512,-0.211823,...,1.257677,0.714982,1.011661,0.114996,0.713528,1.023539,0.915531,-0.701312,0.435555,2.339929
521,-0.302872,-0.595242,0.946442,0.511050,0.382479,-0.824355,1.128826,0.500055,0.057763,-0.236380,...,1.284218,0.694097,1.020095,0.147512,0.725922,1.057894,0.964101,-0.711414,0.440898,2.308178
522,-0.296108,-0.643878,0.917119,0.488764,0.347230,-0.854804,1.134529,0.497534,0.077615,-0.260844,...,1.302297,0.666617,1.021781,0.199736,0.737476,1.082915,1.008598,-0.723642,0.440269,2.272459

In [5]:
correlation_vector=np.load('/dbstore/zmohaghegh/UKBiobank_subset/Time_course/sub_1119288/tc/AAL/corr_vec.npy')
correlation_vector

array([1.        , 0.51860051, 0.13913495, ..., 1.        , 0.5878738 ,
       1.        ])

In [6]:
len(correlation_vector)

6786

In [8]:
correlation_matrix=np.load('/dbstore/zmohaghegh/UKBiobank_subset/Time_course/sub_1119288/tc/AAL/corr_mat.npy')
correlation_matrix

array([[ 1.        ,  0.51860051,  0.13913495, ...,  0.19170488,
         0.31726741, -0.11325635],
       [ 0.51860051,  1.        ,  0.19318602, ...,  0.46328394,
         0.64051391,  0.14290268],
       [ 0.13913495,  0.19318602,  1.        , ...,  0.4302881 ,
         0.2870508 ,  0.4445648 ],
       ...,
       [ 0.19170488,  0.46328394,  0.4302881 , ...,  1.        ,
         0.58387959,  0.24129146],
       [ 0.31726741,  0.64051391,  0.2870508 , ...,  0.58387959,
         1.        ,  0.5878738 ],
       [-0.11325635,  0.14290268,  0.4445648 , ...,  0.24129146,
         0.5878738 ,  1.        ]])

In [9]:
len(correlation_matrix)

116

In [132]:
xx=datasets.fetch_atlas_aal()
len(xx.labels)

116

In [133]:
xx1=datasets.fetch_atlas_harvard_oxford(atlas_name='cort-maxprob-thr25-2mm')
len(xx1.labels)

49

In [134]:
xx

{'description': b'AAl atlas for SPM 12\n\n\nNotes\n-----\nThis atlas is the result of an automated anatomical parcellation of the spatially normalized single-subject high-resolution T1 volume provided by the Montreal Neurological Institute (MNI) (D. L. Collins et al., 1998, Trans. Med. Imag. 17, 463-468, PubMed).\n\nUsing this parcellation method, three procedures to perform the automated anatomical labeling of functional studies are proposed: (1) labeling of an extremum defined by a set of coordinates, (2) percentage of voxels belonging to each of the AVOI intersected by a sphere centered by a set of coordinates, and (3) percentage of voxels belonging to each of the AVOI intersected by an activated cluster.\n\n\nContent\n-------\n    :"regions": str. path to nifti file containing regions.\n    :"labels": dict. labels dictionary with their region id as key and name as value\n\n\nReferences\n-----\nFor more information on this dataset\'s structure, see\nhttp://www.gin.cnrs.fr/AAL-217?lang=en\n\nAutomated Anatomical Labeling of Activations in SPM Using a Macroscopic\nAnatomical Parcellation of the MNI MRI Single-Subject Brain.\nN. Tzourio-Mazoyer, B. Landeau, D. Papathanassiou, F. Crivello,\nO. Etard, N. Delcroix, B. Mazoyer, and M. Joliot.\nNeuroImage 2002. 15 :273-28\n\nLicence: unknown.\n',
 'maps': '/data/zmohaghegh/nilearn_data/aal_SPM12/aal/atlas/AAL.nii',
 'labels': ['Precentral_L',
  'Precentral_R',
  'Frontal_Sup_L',
  'Frontal_Sup_R',
  'Frontal_Sup_Orb_L',
  'Frontal_Sup_Orb_R',
  'Frontal_Mid_L',
  'Frontal_Mid_R',
  'Frontal_Mid_Orb_L',
  'Frontal_Mid_Orb_R',
  'Frontal_Inf_Oper_L',
  'Frontal_Inf_Oper_R',
  'Frontal_Inf_Tri_L',
  'Frontal_Inf_Tri_R',
  'Frontal_Inf_Orb_L',
  'Frontal_Inf_Orb_R',
  'Rolandic_Oper_L',
  'Rolandic_Oper_R',
  'Supp_Motor_Area_L',
  'Supp_Motor_Area_R',
  'Olfactory_L',
  'Olfactory_R',
  'Frontal_Sup_Medial_L',
  'Frontal_Sup_Medial_R',
  'Frontal_Med_Orb_L',
  'Frontal_Med_Orb_R',
  'Rectus_L',
  'Rectus_R',
  'Insula_L',
  'Insula_R',
  'Cingulum_Ant_L',
  'Cingulum_Ant_R',
  'Cingulum_Mid_L',
  'Cingulum_Mid_R',
  'Cingulum_Post_L',
  'Cingulum_Post_R',
  'Hippocampus_L',
  'Hippocampus_R',
  'ParaHippocampal_L',
  'ParaHippocampal_R',
  'Amygdala_L',
  'Amygdala_R',
  'Calcarine_L',
  'Calcarine_R',
  'Cuneus_L',
  'Cuneus_R',
  'Lingual_L',
  'Lingual_R',
  'Occipital_Sup_L',
  'Occipital_Sup_R',
  'Occipital_Mid_L',
  'Occipital_Mid_R',
  'Occipital_Inf_L',
  'Occipital_Inf_R',
  'Fusiform_L',
  'Fusiform_R',
  'Postcentral_L',
  'Postcentral_R',
  'Parietal_Sup_L',
  'Parietal_Sup_R',
  'Parietal_Inf_L',
  'Parietal_Inf_R',
  'SupraMarginal_L',
  'SupraMarginal_R',
  'Angular_L',
  'Angular_R',
  'Precuneus_L',
  'Precuneus_R',
  'Paracentral_Lobule_L',
  'Paracentral_Lobule_R',
  'Caudate_L',
  'Caudate_R',
  'Putamen_L',
  'Putamen_R',
  'Pallidum_L',
  'Pallidum_R',
  'Thalamus_L',
  'Thalamus_R',
  'Heschl_L',
  'Heschl_R',
  'Temporal_Sup_L',
  'Temporal_Sup_R',
  'Temporal_Pole_Sup_L',
  'Temporal_Pole_Sup_R',
  'Temporal_Mid_L',
  'Temporal_Mid_R',
  'Temporal_Pole_Mid_L',
  'Temporal_Pole_Mid_R',
  'Temporal_Inf_L',
  'Temporal_Inf_R',
  'Cerebelum_Crus1_L',
  'Cerebelum_Crus1_R',
  'Cerebelum_Crus2_L',
  'Cerebelum_Crus2_R',
  'Cerebelum_3_L',
  'Cerebelum_3_R',
  'Cerebelum_4_5_L',
  'Cerebelum_4_5_R',
  'Cerebelum_6_L',
  'Cerebelum_6_R',
  'Cerebelum_7b_L',
  'Cerebelum_7b_R',
  'Cerebelum_8_L',
  'Cerebelum_8_R',
  'Cerebelum_9_L',
  'Cerebelum_9_R',
  'Cerebelum_10_L',
  'Cerebelum_10_R',
  'Vermis_1_2',
  'Vermis_3',
  'Vermis_4_5',
  'Vermis_6',
  'Vermis_7',
  'Vermis_8',
  'Vermis_9',
  'Vermis_10'],
 'indices': ['2001',
  '2002',
  '2101',
  '2102',
  '2111',
  '2112',
  '2201',
  '2202',
  '2211',
  '2212',
  '2301',
  '2302',
  '2311',
  '2312',
  '2321',
  '2322',
  '2331',
  '2332',
  '2401',
  '2402',
  '2501',
  '2502',
  '2601',
  '2602',
  '2611',
  '2612',
  '2701',
  '2702',
  '3001',
  '3002',
  '4001',
  '4002',
  '4011',
  '4012',
  '4021',
  '4022',
  '4101',
  '4102',
  '4111',
  '4112',
  '4201',
  '4202',
  '5001',
  '5002',
  '5011',
  '5012',
  '5021',
  '5022',
  '5101',
  '5102',
  '5201',
  '5202',
  '5301',
  '5302',
  '5401',
  '5402',
  '6001',
  '6002',
  '6101',
  '6102',
  '6201',
  '6202',
  '6211',
  '6212',
  '6221',
  '6222',
  '6301',
  '6302',
  '6401',
  '6402',
  '7001',
  '7002',
  '7011',
  '7012',
  '7021',
  '7022',
  '7101',
  '7102',
  '8101',
  '8102',
  '8111',
  '8112',
  '8121',
  '8122',
  '8201',
  '8202',
  '8211',
  '8212',
  '8301',
  '8302',
  '9001',
  '9002',
  '9011',
  '9012',
  '9021',
  '9022',
  '9031',
  '9032',
  '9041',
  '9042',
  '9051',
  '9052',
  '9061',
  '9062',
  '9071',
  '9072',
  '9081',
  '9082',
  '9100',
  '9110',
  '9120',
  '9130',
  '9140',
  '9150',
  '9160',
  '9170']}

In [135]:
xx1

{'maps': '/data/zmohaghegh/nilearn_data/fsl/data/atlases/HarvardOxford/HarvardOxford-cort-maxprob-thr25-2mm.nii.gz',
 'labels': ['Background',
  'Frontal Pole',
  'Insular Cortex',
  'Superior Frontal Gyrus',
  'Middle Frontal Gyrus',
  'Inferior Frontal Gyrus, pars triangularis',
  'Inferior Frontal Gyrus, pars opercularis',
  'Precentral Gyrus',
  'Temporal Pole',
  'Superior Temporal Gyrus, anterior division',
  'Superior Temporal Gyrus, posterior division',
  'Middle Temporal Gyrus, anterior division',
  'Middle Temporal Gyrus, posterior division',
  'Middle Temporal Gyrus, temporooccipital part',
  'Inferior Temporal Gyrus, anterior division',
  'Inferior Temporal Gyrus, posterior division',
  'Inferior Temporal Gyrus, temporooccipital part',
  'Postcentral Gyrus',
  'Superior Parietal Lobule',
  'Supramarginal Gyrus, anterior division',
  'Supramarginal Gyrus, posterior division',
  'Angular Gyrus',
  'Lateral Occipital Cortex, superior division',
  'Lateral Occipital Cortex, inferior division',
  'Intracalcarine Cortex',
  'Frontal Medial Cortex',
  'Juxtapositional Lobule Cortex (formerly Supplementary Motor Cortex)',
  'Subcallosal Cortex',
  'Paracingulate Gyrus',
  'Cingulate Gyrus, anterior division',
  'Cingulate Gyrus, posterior division',
  'Precuneous Cortex',
  'Cuneal Cortex',
  'Frontal Orbital Cortex',
  'Parahippocampal Gyrus, anterior division',
  'Parahippocampal Gyrus, posterior division',
  'Lingual Gyrus',
  'Temporal Fusiform Cortex, anterior division',
  'Temporal Fusiform Cortex, posterior division',
  'Temporal Occipital Fusiform Cortex',
  'Occipital Fusiform Gyrus',
  'Frontal Operculum Cortex',
  'Central Opercular Cortex',
  'Parietal Operculum Cortex',
  'Planum Polare',
  "Heschl's Gyrus (includes H1 and H2)",
  'Planum Temporale',
  'Supracalcarine Cortex',
  'Occipital Pole']}